.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 40px;
   width: 100%;
}

.header__logo {
  max-width: 193px;
  width: 100%;
  border: 2px solid blue;
  padding: clamp(0.625rem, 0.2768rem + 1.7143vw, 1.5625rem);
  color: #eb08eb;
}


@media (max-width: 768px) {
.header__wrapper {
  padding-top: 20px;
}

}

